n8n/examples/workflows/tagesschau daily.json
{
  "name": "Tagesschau daily",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.tagesschau.de/infoservices/alle-meldungen-100~rss2.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        96,
        -16
      ],
      "id": "190b17d1-90bc-4887-adf8-451b8f029135",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        -16
      ],
      "id": "8070481b-e2fc-4b45-9acb-045ce3c54f57",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"titles\": [\"AI Slop is now forbidden in the EU\", \"Economy bad :(\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        208
      ],
      "id": "9356b911-381d-4409-b0c0-8b1003c0a4de",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        320,
        -16
      ],
      "id": "f9ea3734-1a92-4d97-a874-33d6eaf12574",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The titles:\n\n{{ $json.title }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant helping to choose interessting topics for your client on basis on his or her interessets. You are given the titles of todays articles. Choose the articles on this basis. Choose atleast two but maximal five articles.\n\nCurrent interessets of your client are:\n\n- Economy\n- AI\n\nYour output should include the complete title of the articles."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        -16
      ],
      "id": "19b78616-8c5f-40ac-969f-8ed3d303674c",
      "name": "Chooser Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.important_articles.map(a => \"Title: \" + a.json.title + \"\\nContent: \" + a.json.content).join(\"\\n\\n---\\n\\n\") }}",
        "options": {
          "systemMessage": "You are a helpful assistant summarizing daily articles for your client. The summarization should be in the same language as the artciles themselfs. Your summarization should include each article and not more than 200 words in total.\n\nIt should something like:\n\n## ARTICLE_NAME\nSUMARIZATION\n\n## ARTICLE_NAME\nSUMARIZATION\n\n...\n..."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        -16
      ],
      "id": "f8b7cc5e-08d8-4e44-9220-388e6d198f04",
      "name": "Summarizer Agent"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1419416129582927935",
          "mode": "list",
          "cachedResultName": "makoeta automations",
          "cachedResultUrl": "https://discord.com/channels/1419416129582927935"
        },
        "channelId": {
          "__rl": true,
          "value": "1511407810800255137",
          "mode": "list",
          "cachedResultName": "news",
          "cachedResultUrl": "https://discord.com/channels/1419416129582927935/1511407810800255137"
        },
        "content": "=# Daily news ({{ $now.day }}.{{ $now.month }}.{{ $now.year }})\n\n{{ $json.output }}\n\n!!! Summarized by AI !!!",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1536,
        -16
      ],
      "id": "e4d52526-8f2d-4ae9-8e3b-333fc808abd0",
      "name": "Send a message",
      "webhookId": "1302c801-73ba-4d9a-9f0f-6fb1d2703bc8",
      "credentials": {
        "discordBotApi": {
          "id": "tqVqKOPjyUuRyhGT",
          "name": "Der Professor"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.important_articles = $('RSS Read').all().filter(data =>  $input.first().json.output.titles.includes(data.json[\"title\"]));\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -16
      ],
      "id": "546afc3c-b0bc-406b-9674-9dbb4727ae0b",
      "name": "Select choosen articles"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1248,
        208
      ],
      "id": "15faf367-660e-44fe-88ec-aaece66c300e",
      "name": "gpt-4.1-mini (2)",
      "credentials": {
        "openAiApi": {
          "id": "C1Ibzw6M5zVl5GMI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        592,
        416
      ],
      "id": "409de96f-e336-4b35-8ff1-6ad2ca2f3a26",
      "name": "gpt-4.1-mini (1)",
      "credentials": {
        "openAiApi": {
          "id": "C1Ibzw6M5zVl5GMI",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Chooser Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Chooser Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chooser Agent": {
      "main": [
        [
          {
            "node": "Select choosen articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarizer Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select choosen articles": {
      "main": [
        [
          {
            "node": "Summarizer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini (2)": {
      "ai_languageModel": [
        [
          {
            "node": "Summarizer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini (1)": {
      "ai_languageModel": [
        [
          {
            "node": "Chooser Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a845e58d-ce35-40cb-93d7-aa34931dfc23",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0fbfc6fef148e31e73582e7b7e214fe6d88dae56635d47f1a631b1798b2cbdcf"
  },
  "nodeGroups": [],
  "id": "SNk0uwfg9sZMPqzl",
  "tags": []
}
